<div class="container">
  <div class="banner mt-4">
    <h3 class="text-center">Post Your Blog</h3>
  </div>
  <form action="" class="mt-4">
    <div class="inputContainer">
      <textarea
        cols="30"
        rows="10"
        type="text"
        class="input"
        id="blog-input"
        placeholder="a"
      ></textarea>
      <label for="blog-input" class="label">Write your blog</label>
    </div>
    <input type="submit" class="submitBtn" value="Post" />
  </form>
</div>