<div class="item photo blog-card">
  <div class="content">
    <img class="photothumb" src={{image}} />
    <div class="display-6 mb-1">{{title}}</div>
    <div class="desc">
      <p>
        {{blog}}
      </p>
    </div>
  </div>
</div>