<div class="item project blog-card">
  <div class="content">
    <div class="desc">
      <div class="display-6 mb-1">{{title}}</div>
      <img src={{image}} />
      <p>
        {{blog}}
      </p>
    </div>
  </div>
</div>