<main>
  {{> public-navbar}}

  <section class="container mt-4 responsive-form">
    <h2 class="text-center">Page not found</h2>

    <div class="alert alert-info text-center" role="alert">
      This page does not exist or has been removed. Please return to the <a href="/">
      home page</a>
    </div>
  </section>
</main>
